{
    "plugins": [
        "import",
        "react",
        "jsx-a11y"
    ],
    "extends": "airbnb",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "react/jsx-indent": ["error", "tab"],
        "react/jsx-indent-props": ["error", "tab"],
        "indent": ["error", "tab"],
        "comma-dangle": ["error", "never"]
    }
}
